.banner{
    margin:0em 5rem;
}
.bannerLeft {
    margin-top: 10em;
    position: relative;
    z-index: 0;
}

.bannerTitle {
    font-size: 3em;
    width: 40%;
    font-weight: bold;
    color: var(--mainBlue);
}

.bannerLeft p {
    width: 30%;
    color: var(--lightBlack);
}


.blue {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    margin-top: 13em;
    margin-right: 4em;
    width: 6em;

}

.father {
    position: absolute;
    z-index: 9;
    top: 0;
    right: 0;
    margin-right: 10em;
    margin-top: 7em;
    width: 22em;
}

.yellow {
    position: absolute;
    z-index: 8;
    top: 0;
    right: 0;
    margin-top: 18em;
    margin-right: 32em;
    width: 8em;


}

.nurse {
    position: absolute;
    z-index: 7;
    right: 0;
    margin-top: 3em;
    width: 24em;

}
.Nurse{
    display:none;
}

.child {
    position: absolute;
    z-index: 4;
    right: 0;
    margin-right: 20em;
    margin-top: 9em;
    width: 25em;
}

.lightBlue {
    position: absolute;
    z-index: 5;
    right: 0;
    margin-top: 30em;
    margin-right: 18em;
    width: 10em;

}

.transparent {
    position: absolute;
    z-index: 6;
    left: 0;
    width: 38em;
    margin-top: 20em;
}

.whyTitle {
    text-align: center;
    margin-top: 15em;
    position: relative;
    font-weight: bold;
}

.why {
    text-align: center;
    padding-top: 2em;
    position: relative;
    z-index: 12;
}

.subheading {
    padding: 1em 0em 0.3em 0em;
    font-weight: bold;
}

.subheadingPara {
    width: 90%;
}


.mother{
    width:100%;
    overflow: hidden;
}
.card>img:first-child{
    height:15rem;
}
.campaignTitle {
    margin: 2em 0em;
    font-weight: bold;
    text-align:left;
}
.cardTitle{
font-weight:bold;
padding-top:0.5rem;
text-align:left;
}
.cardBody{
  
    text-align:justify;
    
}
.campaignLink{
    margin-top:1em;
    display:flex;
   
    
}
.campaignLink a{
    
    margin-left:auto;
}
.lineLink{
    float:right;
    margin-right:2.2em;
}
.clear{
 clear: both;
}

.seekFundsBody{
    font-weight:bold;
    width:35%;
    position: absolute;
    z-index:3;
    margin-top:15em;
}

.seekFundsBackground{
    position:absolute;
    z-index:1;
    width:50%;
    left:0;
}

.pregnant{
    position:absolute;
    z-index:3;
    right:0;
    margin-right:25rem;
    margin-top:10em;
    width:22rem;

}
.doctor{
    position:absolute;
    z-index:2;
    right:0;
    margin-right:4rem;
    width:30rem;
}
.blog{
    margin-top:50em;
}
.logoArea{
    text-align:center;
    margin-bottom:5em;
}
.logoArea h2{
    padding-top:3em;
    padding-bottom:2em;
    width:50%;
    margin:auto;
}
.guideArea{
background-image:url("../images/campaignGuide.png");
background-repeat:no-repeat;
background-size:cover;
padding:4em;
}
.guideAreaBody{
    width:50%;
    margin:auto;
    text-align:center;
    margin-top:2em;
}
@media (max-width:1024px){
    .banner{
        margin:0em 3rem;
    }
    .bannerLeft {
        margin-top: 4em;
        position: relative;
        z-index: 0;
    }
    
    .bannerTitle {
        font-size: 2.6em;
        width: 60%;
    }
    
    .bannerLeft p {
        width: 45%;
    }
    
    
    .blue {
        margin-top: 8.3em;
        margin-right: 5em;
        width: 6em;
    
    }
    .nurse {
        width: 17em;
    
    }
    .Nurse{
        display:none;
    }
    .child {
        margin-right: 15em;
        margin-top: 9em;
        width: 17em;
    }
    .father {
        margin-right: 10em;
        margin-top: 7em;
        width: 15em;
    }
    
    .yellow {
       
        margin-top: 12.8em;
        margin-right: 24em;
        width: 7em;
    
    
    }
    
    .lightBlue {
        margin-top: 23em;
        margin-right: 12.3em;
        width: 8em;
    
    }
    
    .transparent {
        position: absolute;
        z-index: 6;
        left: 0;
        width: 35em;
        margin-top: 24em;
    }
    .card>img:first-child {
        height: 15rem;
    }
    .leftProg{
        font-size:0.8em;
    }
    .rightProg{
        font-size:0.8em;
    }
    .pregnant{
        position:absolute;
        z-index:3;
        right:0;
        margin-right:25rem;
        margin-top:10em;
        width:15rem;
    
    }
    .doctor{
        position:absolute;
        z-index:2;
        right:0;
        margin-right:5rem;
        width:23rem;
    }
}
@media (max-width:992px){
    .banner{
        margin:0em 3rem;
    }
    .bannerLeft {
        margin-top: 4em;
        position: relative;
        z-index: 0;
    }
    
    .bannerTitle {
        font-size: 3em;
        width: 80%;
    }
    
    .bannerLeft p {
        width: 80%;
    }
    
    
    .blue {
        margin-top: 27em;
        margin-right: 17em;
        width: 6em;
    
    }
    .nurse {
       
        display:none;
    }
    .Nurse{
        display:block;
        position: absolute;
        z-index: 7;
        right: 0;
        margin-top:23em;
        margin-right:6em;
        width: 23em;
    }
    .child {
       /* left:0; */
       /* margin-left:2em; */
       margin-right:27em;
        margin-top: 26em;
        width: 19em;
    }
    .father {
        margin-right: 3em;
        margin-top: 18em;
        width: 15em;
    }
    
    .yellow {
       
        margin-top: 50em;
        margin-right: 25em;
        width: 6em;
    
    
    }
    
    .lightBlue {
        margin-top: 23em;
        margin-right: 23em;
        width: 8em;
    
    }
    
    .transparent {
       display:none;
    }
    .whyTitle {
        
        margin-top: 20em;
       
    }
    .subheadingPara {
        width: 100%;
    }
}
@media (min-width:425px) and (max-width:670px){
    .banner{
        margin:0em 2rem;
    }
    .bannerLeft {
        margin-top: 4em;
        position: relative;
        z-index: 0;
    }
    
    .bannerTitle {
        font-size: 3em;
        width: 80%;
    }
    
    .bannerLeft p {
        width: 90%;
    }
    
    
    .blue {
        margin-top: 32em;
        margin-right: 12em;
        width: 3em;
    
    }
    .nurse {
       
        display:none;
    }
    .Nurse{
        display:block;
        position: absolute;
        z-index: 7;
        right: 0;
        margin-top:25.2em;
        margin-right:5.5em;
        width: 12em;
    }
    .child {
        margin-right:16.5em;
        margin-top: 26.3em;
        width: 10em;
    }
    .father {
        margin-right: 3em;
        margin-top: 25em;
        width: 10em;
    }
    
    .yellow {
       
        margin-top: 43em;
        margin-right: 15em;
        width: 4em;
    
    
    }
    
    .lightBlue {
        margin-top: 25.3em;
        margin-right: 14.3em;
        width: 4em;
    
    }
    
    .transparent {
       display:none;
    }
    .whyTitle {
        
        margin-top: 13em;
       
    }
    .subheadingPara {
        width: 100%;
        margin:auto;
    }
    .centerButton {
        margin-top: 1em;
        margin-bottom: 1.5em
    }
    .campaignTitle {
        margin: 1em 0em;
        text-align:center;
    }
    .card>img:first-child {
        height: 15rem;
    }
    .leftProg{
        font-size:0.8em;
    }
    .rightProg{
        font-size:0.8em;
    }
    .seekFundsBackground {
        width:80%;
    }
    .seekFundsBody{
        width:80%;
        margin-top:3em;
        font-size:0.8em;
      
    }
    .pregnant{
        display:none;
    }
    .doctor{
        display:none;
    }
    .blog {
        margin-top:24em;
    }
    .logoArea{
        display:none;
    }
    .logoArea h2 {
       font-size:1.2em;
        width: 100%

    }
    .guideArea{
        padding:1em;
    }
    .guideAreaBody{
        width:100%;
    }
}
@media (min-width:375px) and (max-width:424.9px){
    .blue {
        margin-top: 31.5em;
        margin-right: 8.5em;
        width: 3em;
    
    }
    .nurse {
       
        display:none;
    }
    .Nurse{
        display:block;
        position: absolute;
        z-index: 7;
        right: 0;
        margin-top:25em;
        margin-right:2.3em;
        width: 12em;
    }
    .child {
        margin-right:13em;
        margin-top: 26.3em;
        width: 10em;
    }
    .father {
        margin-right: 0em;
        margin-top: 25em;
        width: 10em;
    }
    
    .yellow {
       
        margin-top: 43em;
        margin-right: 11.7em;
        width: 4em;
    
    
    }
    
    .lightBlue {
        margin-top: 24.5em;
        margin-right: 11.5em;
        width: 4em;
    
    }
    .whyTitle {
        
        margin-top: 11em;
       
    }
    .subheadingPara {
        width: 100%;
    }
    .centerButton {
        margin-top: 1em;
        margin-bottom: 1.5em
    }
    .campaignTitle {
        margin: 1em 0em;
        text-align:center;
    }
    .card>img:first-child {
        height: 10rem;
    }
    .leftProg{
        font-size:0.8em;
    }
    .rightProg{
        font-size:0.8em;
    }
    .seekFundsBackground {
        width:80%;
    }
    .seekFundsBody{
        width:80%;
        margin-top:3em;
        font-size:0.8em;
      
    }
    .pregnant{
        display:none;
    }
    .doctor{
        display:none;
    }
    .blog {
        margin-top:22em;
    }
    .logoArea{
        display:none;
    }
    .logoArea h2 {
       font-size:1.2em;
        width: 100%

    }
    .guideArea{
        padding:1em;
    }
    .guideAreaBody{
        width:100%;
    }
}
@media (min-width:300px) and (max-width:374.9px){
    .banner{
        margin: 0em 1rem
    }
    .bannerLeft {
        margin-top: 2em;
        width:100%;
       
    }
    .bannerTitle {
        font-size: 2.5em;
        width: 100%;
    }
    
    .bannerLeft p {
        width: 100%;
    }
    .blue {
        margin-top: 31em;
        margin-right: 8em;
        width: 3em;
    
    }
    .nurse {
       
        display:none;
    }
    .Nurse{
        margin-top:26.5em;
        margin-right:2em;
        width: 11em;
    }
    .child {
        margin-right:12em;
        margin-top: 28.7em;
        width: 8em;
    }
    .father {
        margin-right: 0em;
        margin-top: 24em;
        width: 10em;
    }
    
    .yellow {
       
        margin-top: 41.5em;
        margin-right: 10.9em;
        width: 3em;
    
    
    }
    
    .lightBlue {
        margin-top: 26.2em;
        margin-right: 10.4em;
        width: 4em;
    
    }
    .whyTitle {
        
        margin-top: 11em;
       
    }
    .centerButton {
        margin-top: 1em;
        margin-bottom: 1.5em
    }
    .campaignTitle {
        margin: 1em 0em;
        text-align:center;
    }
    .card>img:first-child {
        height: 10rem;
    }
    .leftProg{
        font-size:0.8em;
    }
    .rightProg{
        font-size:0.8em;
    }
    .seekFundsBackground {
        width:100%;
    }
    .seekFundsBody{
        width:80%;
        margin-top:3em;
        font-size:0.8em;
        margin:auto;
        padding:1.2em;
      
    }
    .pregnant{
        display:none;
    }
    .doctor{
        display:none;
    }
    .blog {
        margin-top:22em;
    }
    .logoArea{
        display:none;
    }
    .logoArea h2 {
       font-size:1.2em;
        width: 100%

    }
    .guideArea{
        padding:1em;
    }
    .guideAreaBody{
        width:100%;
    }
    .guideAreaBody h2{
        font-size:1.5em;
    }
    
    
}
/* @media (max-width:778px){
    .banner{
        margin:0em 3rem;
    }

} */