.blueButton {
    background-color: #0072A3;
    padding: 0.5rem 1.2rem;
    border-radius: 1.5rem;
    border-style: none;
    color: white;
}
.buttonContainer{
    display:flex;
}

.blueButton:hover {
    background-color: var(--mainOrange);
    color: var(--mainBlue);
}
.ashButton{
    background-color:#828282;
    padding: 0.4rem 1.0rem;
    border-radius: 1.5rem;
    border-style: none;
    color: white;
    font-size:0.8em;
}
.campaignButton{
    background-color: var(--lightBlue);
    padding: 0.3rem 0.8rem;
    border-radius:1rem;
    color:black;
    font-size:0.8em;
    font-weight:bold;
    border-style:none;
    margin-left:auto;
}
.centerButton {
    margin: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    text-align:center;
}
#lightGreen{
    background-color: var(--lightGreen);
}
#babyPink{
    background-color: var(--babyPink);
}

@media (max-width:992px) {
    .blueButton {
        padding: 0.3rem 0.8rem;
        font-size: 0.8rem;
    }

}