:root{
  font-family: 'Muli', sans-serif;
  --mainBlue: #0072A3;
  --mainOrange: #f09540;
  --lightBlack: #212121;
  --lightBlue: #DFF0FF;
  --babyPink: #FFF2DF;
  --lightGreen: #E2FFDF;
  --mainWhite: #F9FAFC;
}
