.navbar-light .navbar-brand {
    margin-right: 2rem;

}

.navbar {
    padding: 1rem 5rem 1rem 5rem !important;
    border-bottom: 1px solid rgb(5, 5, 5);

}

.search {
    padding: 0rem 0.5rem;
    width:40%;
    height:40%;
    margin-top:5px;
}

.nav-link {
    display: flex !important;
    padding: 0.5rem 1rem !important;
    color: var(--mainBlue);
}

.nav-link:hover {
    color: var(--mainOrange);
}

.navbar-light .navbar-nav .nav-item .nav-link {
    color: var(--mainBlue);

}

.navbar-light .navbar-nav .nav-item .nav-link:hover {
    color: var(--mainOrange);
}

.line {
    padding: 0rem 0.8rem;
}


@media (max-width:992px) {
    .navbar-light .navbar-brand {
        margin-left: 0.5rem;
    }

    .navbar {
        padding: 0.5rem 2rem 0.5rem 2rem !important;
    }
    .navbar-light .navbar-toggler{
        margin-right:0.5em!important;
    }

    .nav-link {
        display: flex !important;
        padding: 0.5rem 0.5rem !important;
        font-size: 0.8rem;
    }

}
